page-slider {

  .ion-slide {
    background-color: #62AFE0;
  }
  .text
  {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-size: 20px;
    color: white;
  }
  .subtitle
  {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-size: 14px;
    color: white;
  }
  .btnframe
  {
    width: 100%;
    background-color:  #366DF5;
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 18px;

  }

}
