page-localnotification {

#myInput {
width: calc(100% - 10px);
border: 2px;
border-radius: 2px;
background: transparent;
border-color: red;
}
.item-divider {
  border-color: rgba(0, 0, 0, 0);
  border: 2px;
  border-radius: 2px;
  background: transparent;
}
}
